@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 100; 
  src: url('./NotoSansKR-Black.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 600; 
  src: url('./NotoSansKR-Bold.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 200; 
  src: url('./NotoSansKR-Light.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 400; 
  src: url('./NotoSansKR-Medium.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 300; 
  src: url('./NotoSansKR-Regular.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal;
  font-weight: 100; 
  src: url('./NotoSansKR-Thin.otf') format('woff2');
  font-display: swap;
  unicode-range: U+AC00-U+D7A3, U+0030-0039;
}